apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.1
  creationTimestamp: null
  name: configs.customer.gardener
spec:
  group: customer.gardener
  names:
    kind: Config
    listKind: ConfigList
    plural: configs
    singular: config
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: Config is the Schema for the configs API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ConfigSpec defines the desired state of Config
            properties:
              cloudprovider:
                default: ""
                description: The Cloudprovider where the cluster runs
                type: string
              desiredoutput:
                description: Wether output is processed as argocd secret object or
                  plain secret
                enum:
                - ArgoCD
                - Plain
                type: string
              frequency:
                description: The Frequency to Generate new Tokens
                type: string
              project:
                description: The Gardener Project Name
                type: string
              shoot:
                description: The Name of the shoot cluster to generate a secret for
                type: string
              stage:
                default: ""
                description: The stage of the cluster
                type: string
            required:
            - desiredoutput
            - frequency
            - project
            - shoot
            type: object
          status:
            description: ConfigStatus defines the observed state of Config
            properties:
              lastUpdatedTime:
                format: date-time
                type: string
              phase:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
